numpy>=2.0.0,<2.2.6
jupyter
ipykernel
denoiser
audiosegment
scipy
IPython
torch
torchaudio
pathlib 
pydub
librosa
statistics
pandas
opensmile
audiofile
joblib
seaborn
matplotlib
xgboost
tensorflow
opencv-python
argparse
ffmpeg-python
logging
